workflows/upload-english-mailmaga-to-gdrive.json
{
  "name": "Upload English Mail Magazine to Google Drive",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "simple": false,
        "filters": {
          "sender": "noreply@nic-english.com OR info@hapaeikaiwa.com"
        },
        "options": {
          "downloadAttachments": false
        }
      },
      "id": "gmail-trigger",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const html = $json.html || '';\n\nlet md = html;\n\n// MSO conditional comments\nmd = md.replace(/<!--\\[if[\\s\\S]*?<!\\[endif\\]-->/gi, '');\n// style, head, script tags\nmd = md.replace(/<style[\\s\\S]*?<\\/style>/gi, '');\nmd = md.replace(/<head[\\s\\S]*?<\\/head>/gi, '');\nmd = md.replace(/<script[\\s\\S]*?<\\/script>/gi, '');\n\n// <hr> -> markdown horizontal rule\nmd = md.replace(/<hr[^>]*>/gi, '\\n---\\n');\n// <br> -> newline\nmd = md.replace(/<br\\s*\\/?>/gi, '\\n');\n\n// Links: <a href=\"url\">text</a> -> [text](url)\nmd = md.replace(/<a[^>]*href=\"([^\"]*)\"[^>]*>([\\s\\S]*?)<\\/a>/gi, '[$2]($1)');\n// Bold\nmd = md.replace(/<strong>([\\s\\S]*?)<\\/strong>/gi, '**$1**');\nmd = md.replace(/<b>([\\s\\S]*?)<\\/b>/gi, '**$1**');\n// Italic\nmd = md.replace(/<em>([\\s\\S]*?)<\\/em>/gi, '*$1*');\n// Images with alt\nmd = md.replace(/<img[^>]*src=\"([^\"]*)\"[^>]*alt=\"([^\"]*)\"[^>]*>/gi, (m, src, alt) => alt ? `![${alt}](${src})` : '');\nmd = md.replace(/<img[^>]*alt=\"([^\"]*)\"[^>]*src=\"([^\"]*)\"[^>]*>/gi, (m, alt, src) => alt ? `![${alt}](${src})` : '');\n// Remove remaining img tags (tracking pixels etc)\nmd = md.replace(/<img[^>]*>/gi, '');\n\n// Block element closing tags -> newline\nmd = md.replace(/<\\/(div|p|td|tr|table|li|h[1-6]|blockquote)>/gi, '\\n');\n// Remove all remaining HTML tags\nmd = md.replace(/<[^>]+>/g, '');\n\n// Decode HTML entities\nmd = md.replace(/&amp;/g, '&');\nmd = md.replace(/&lt;/g, '<');\nmd = md.replace(/&gt;/g, '>');\nmd = md.replace(/&quot;/g, '\"');\nmd = md.replace(/&#39;/g, \"'\");\nmd = md.replace(/&nbsp;/g, ' ');\n\n// Trim each line\nmd = md.split('\\n').map(l => l.trim()).join('\\n');\n// Collapse 3+ consecutive blank lines to 2\nmd = md.replace(/\\n{3,}/g, '\\n\\n');\n// Trim overall\nmd = md.trim();\n\nreturn { json: { ...$json, data: md } };"
      },
      "id": "html-to-markdown",
      "name": "HTML to Markdown",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "data",
        "binaryPropertyName": "data",
        "options": {
          "fileName": "={{ DateTime.fromISO($('Gmail Trigger').item.json.date).toFormat('yyyyMMdd') }}_{{ $('Gmail Trigger').item.json.subject.replace(/[\\\\/:*?\"<>|]/g, '') }}.md"
        }
      },
      "id": "convert-to-file",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [440, 0]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Gmail Trigger').item.json.from.value[0].address }}",
                    "rightValue": "noreply@nic-english.com",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "nic"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Gmail Trigger').item.json.from.value[0].address }}",
                    "rightValue": "info@hapaeikaiwa.com",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "hapa"
            }
          ]
        },
        "options": {}
      },
      "id": "switch-sender",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "inputDataFieldName": "data",
        "name": "={{ $binary.data.fileName }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1REzy2iCqi-wLV2kW_IzLke4XLoZeVVSO",
          "mode": "id"
        },
        "options": {}
      },
      "id": "gdrive-nic",
      "name": "Google Drive (nic)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [880, -100],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GDRIVE_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "inputDataFieldName": "data",
        "name": "={{ $binary.data.fileName }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1q-7VYPotvqlJ_Edrpe1C9cJGDLBckcm5",
          "mode": "id"
        },
        "options": {}
      },
      "id": "gdrive-hapa",
      "name": "Google Drive (hapa)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [880, 100],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GDRIVE_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "HTML to Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML to Markdown": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Google Drive (nic)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Drive (hapa)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "active": false
}
