workflows/upload-english-mailmaga-to-gdrive.json
{
  "name": "Upload English Mail Magazine to Google Drive",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "simple": false,
        "filters": {
          "sender": "noreply@nic-english.com OR info@hapaeikaiwa.com"
        },
        "options": {
          "downloadAttachments": false
        }
      },
      "id": "gmail-trigger",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "htmlToMarkdown",
        "html": "={{ $json.html }}",
        "options": {}
      },
      "id": "markdown-convert",
      "name": "Markdown",
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [220, 0]
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "data",
        "binaryPropertyName": "data",
        "options": {
          "fileName": "={{ DateTime.fromISO($('Gmail Trigger').item.json.date).toFormat('yyyyMMdd') }}_{{ $('Gmail Trigger').item.json.subject.replace(/[\\\\/:*?\"<>|]/g, '') }}.md"
        }
      },
      "id": "convert-to-file",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [440, 0]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Gmail Trigger').item.json.from.value[0].address }}",
                    "rightValue": "noreply@nic-english.com",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "nic"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Gmail Trigger').item.json.from.value[0].address }}",
                    "rightValue": "info@hapaeikaiwa.com",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "hapa"
            }
          ]
        },
        "options": {}
      },
      "id": "switch-sender",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "inputDataFieldName": "data",
        "name": "={{ $binary.data.fileName }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1REzy2iCqi-wLV2kW_IzLke4XLoZeVVSO",
          "mode": "id"
        },
        "options": {}
      },
      "id": "gdrive-nic",
      "name": "Google Drive (nic)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [880, -100],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GDRIVE_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "inputDataFieldName": "data",
        "name": "={{ $binary.data.fileName }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1q-7VYPotvqlJ_Edrpe1C9cJGDLBckcm5",
          "mode": "id"
        },
        "options": {}
      },
      "id": "gdrive-hapa",
      "name": "Google Drive (hapa)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [880, 100],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GDRIVE_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Google Drive (nic)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Drive (hapa)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "active": false
}
